@model NotificationMobileDiscussionViewModel
@{

    Layout = "~/Views/Shared/_ChatLayout.cshtml";
}

@section Title
{
    Notification Mobile Discussion -
}

@section ContentSection
{
    @Html.HiddenFor(m => m.SelectedVesselId)
    @Html.HiddenFor(m => m.SelectedVesselName)
    @Html.Hidden("IsAlreadyTriggerEvent", "0")
    @Html.Hidden("hdnSessionStorageDetails", Model.SessionStorageDetails)
    @Html.Hidden("hdnIsFromOtherSource", Model.IsFromOtherSource)
    @Html.Hidden("hdnIsFilterChange", Model.IsFilterChange)

    @if (Model != null && Model.replyPrivateParticipant != null)
    {
        @Html.HiddenFor(m => m.replyPrivateParticipant.Id);
        @Html.HiddenFor(m => m.replyPrivateParticipant.Text);
        @Html.HiddenFor(m => m.replyPrivateParticipant.UserShortName);
    }

    @if (Model != null && Model.NewMessageDetails != null)
    {
        @Html.Hidden("CategoryId", Model.NewMessageDetails.CategoryId)
        @Html.Hidden("IsGeneralCat", Model.NewMessageDetails.IsGeneralCat)
        @Html.Hidden("ContextPayload", Model.NewMessageDetails.ContextPayload)
        @Html.Hidden("DefaultMessage", Model.NewMessageDetails.DefaultMessage)
        @Html.Hidden("VesselId", Model.NewMessageDetails.VesselId)
        @Html.Hidden("VesselName", Model.NewMessageDetails.VesselName)
        @Html.Hidden("ChannelId", Model.NewMessageDetails.ChannelId)
        @Html.Hidden("IsSaveAsDraft", Model.NewMessageDetails.IsSaveAsDraft)
    }

    <div class="app-main__outer" id="CreateDraftChannelInMobileDiscussion">
        <div class="app-main__inner p-0" id="">
            <div class="apply-loader notification-mobile-info d-block d-md-none">
                <div class="discussion-form heightfix p-0 vesselform">
                    <div class="apply-loader vessel-list-patch">
                        <div class="row no-gutters mb-0">
                            <div class="col-md-9 col-xl-8 col-xl-9">
                                <div class="row mx-auto no-gutters mb-0">
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <h1>Vessel</h1>
                                    </div>
                                    <div class="col-md-9 col-lg-9 col-xl-9 vessel-search">
                                        <select id="cboNotificationVesselSearch" class="form-control form-control-sm">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mx-auto no-gutters  mb-0 d-none divAreaDropdowncls" id="divAreaDropdown">
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <h1>Area</h1>
                                    </div>
                                    <div class="col-md-9 col-lg-9 col-xl-9 vessel-search">
                                        <select type="select" id="cboAreaSelection" class="custom-select" disabled>
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forms-section">
                        <div class="row no-gutters">
                            <div class="col-md-9 col-xl-8 col-xl-9">
                                <div class="row mx-auto no-gutters">
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <h1>Participants <span class="redconfirm">*</span></h1>
                                    </div>
                                    <div class="col-md-9 col-lg-9 col-xl-9 participant-design">
                                        <a href="" id="btnSearchParticipants" class="search-more-users" data-toggle="modal" data-target="#searchparticipant" style=" width: 40%;">
                                            <img src="~/images/key-contacts.svg" />
                                            Key Contacts
                                        </a>
                                        <select id="participantdropdown" class="form-control" multiple="multiple">
                                        </select>
                                    </div>
                                </div>
                                <div class="row mx-auto no-gutters">
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <h1>Subject <span class="redconfirm">*</span></h1>
                                    </div>
                                    <div class="col-md-9 col-lg-9 col-xl-9">
                                        <input type="text" class="form-control" id="txtSubject" maxlength="100" autocomplete="off">
                                    </div>
                                </div>
                                <div class="row mx-auto no-gutters">
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <h1 class="">Message <span class="redconfirm">*</span></h1>
                                    </div>
                                    <div class="col-md-9 col-lg-9 col-xl-9">
                                        <textarea class="form-control scroller-message" rows="3" id="txtMessage" placeholder=""></textarea>
                                    </div>
                                </div>
                                <div class="row mx-auto no-gutters">
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <h1>Attachments</h1>
                                    </div>
                                    <div class="col-md-9 col-lg-9 col-xl-9">
                                        <div class="file-upload">
                                            <label for="inputChannelAttachments">
                                                <img src="~/images/attachment.png" /> Add Attachment
                                            </label>
                                            <input id="inputChannelAttachments" type="file" multiple />
                                        </div>
                                        <div id="divNewChannelAttachemnts" class="apply-loader">

                                        </div>
                                    </div>
                                </div>
                                <div class="row mx-auto no-gutters">
                                    <div class="col-md-3 col-lg-3 col-xl-3">

                                    </div>
                                    <div class="col-md-9 col-lg-9 col-xl-9">
                                        <div class="clearfix create-message-mobile">
                                            <a href="javascript:void(0)" id="cancel" class="btn-cancelsecondarybtn btn float-left" ontouchstart>Cancel</a>
                                            <button class="btn btn-discussion  float-right" id="btn-discussion">Send</button>
                                            <a href="javascript:void(0);" id="btn-SaveAsDraft" class="cancel float-right mr-3" ontouchstart>Save As Draft</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section ScriptSection
{
    <script src="~/assets/scripts/notificationMobileDiscussion.bundle.js"></script>
}
@section Modal{
    <partial name="NotificationModel" />
}
