@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section Title
{
    @RenderSection("Title")
}

@section CSSSection
{
    @RenderSection("CSSSection", false)
}

@section ContentSection
{
    <div class="app-container app-theme-white body-tabs-shadow">
        @RenderSection("ContentSection")
    </div>
}

@section ScriptSection
{
    @RenderSection("ScriptSection", false)
}


@section Modal
{
    @RenderSection("Modal", false)
}